{% set homeHref = tools[0].paths[lang] %}
{% set blogHref = "/blog/index.html" %}
{% set proHref = "/pro/" if lang == "en" else "/" + lang + "/pro/" %}
{% set supportMailto = "mailto:" + site.supportEmail %}
{% set supportContactMailto = "mailto:" + site.supportEmail + "?subject=Contact%20from%20MidiEasy" %}

{% set footerTpl %}{% include "snippets/footer-standard.html" %}{% endset %}
{{ footerTpl
  | replace("__SUPPORT_EMAIL__", site.supportEmail)
  | replace("__SUPPORT_MAILTO__", supportMailto)
  | replace("__SUPPORT_CONTACT_MAILTO__", supportContactMailto)
  | replace("__HOME_HREF__", homeHref)
  | replace("__BLOG_HREF__", blogHref)
  | replace("__PRO_HREF__", proHref)
  | replace("__MIDI_JSON_HREF__", tools[0].paths[lang])
  | replace("__MIDI_CSV_HREF__", tools[1].paths[lang])
  | replace("__MIDI_INSPECTOR_HREF__", tools[2].paths[lang])
  | safe
}}

<script src="/js/common.js"></script>
<script src="/js/language-switcher.js"></script>
